/* ==========================================
   Cards
========================================== */

.card{

    background:var(--card);

    border:1px solid var(--border);

    border-radius:20px;

    padding:30px;

    transition:var(--transition);

}

.card:hover{

    transform:translateY(-6px);

    box-shadow:var(--shadow);

}